.box{
    border: 4px solid lightgray;
    height: 100px;
    width: 100px;
}

.box-small{
    height: 50px;
    width: 50px;
    margin: 24px;
}

.box-wraper{
    display: flex;
    align-items: center;
}

.container{
    border: 4px solid lightgrey;
    display: flex;
    justify-content: space-between;
    padding: 24px;
}