div {
    background-color: aqua;
    color: red;
    font-size: 24px;
}

@media (max-width: 993px) {
    div {
        font-size: 20px;
    }
}
@media (max-width: 768px) {
    div {
        font-size: 18px;
    }
}

